<div class="container">
  <div class="loginCard">
    <h2 class="heading">Log In</h2>
    <label class="label">Email</label>
     <input id="email"
        [(ngModel)]="email" required
        type="email"
        name="email"
        class="formInput"
        placeholder="Enter your email address" />
    <label class="label">Password</label>
      <input  id="password"
        type="password"
        [(ngModel)]="password"
        name="password"
        class="formInput"
        placeholder="Enter your password"/>

        <button class="btn"
              id="btn-login"
              (click)="login()" >
                Log In
      </button>
</div>
</div>
