
My talks
<button class="mdl-button mdl-button--icon" (click)="open(content)"><i class="material-icons">add</i></button>

  <app-talk-item
  [user]=user *ngFor="let user of users">
  </app-talk-item>

<div style="padding-top:5%">Invited talks</div>

<app-talk-item
[user]=user *ngFor="let user of users">
</app-talk-item>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add a new chatroom</h4>

      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <input type="text" style="padding-top:5%" class="form-control"/>

        <input id="typeahead-format" style="padding-top:5%" type="text" class="form-control" [(ngModel)]="userName" [ngbTypeahead]="search" [resultFormatter]="formatter" />
        <button type="button" class="btn btn-outline-dark" (click)="submit()">Submit</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
