<div class="mainContent">
  <div class="talkListWrapper">
    <app-talk-list></app-talk-list>
  </div>
  <div #scroller class="talkWrapper">
    <app-talk></app-talk>
  </div>
</div>

<div class="chatFormWrapper">
  <app-chat-form></app-chat-form>
</div>
